/* CRM - INFODOC-SISGED | 2026 https://ecmsolucoes.com */

@media print
{    
    body{
        background-color: #fff !important;
    }

    .noprint
    {
        display: none !important;
    }

    a[href]:after {
        content: none !important;
    }

    div.timeline-navigation{
        display: none !important;
    }

    body {
        -webkit-print-color-adjust: exact;
        background-color: white !important;
    }

    .timeline-event.ui-state-default{
        background: #f3f3f3 !important;
    }	

    .fc-personal .fc-title,
    .fc-public .fc-title{
        color: white !important;
    }

    .fc-button-group,
    .fc-today-button{
        display: none !important;
    }

    .page-content{
        padding: 0;
        margin: 0;
    }

    .page-header-fixed .page-container{
        margin: 0;
    }

}