.git
.gitignore
.env
.env.*
.vscode
.idea
.venv
.venv*
**/__pycache__
**/*.pyc
backups
cache
log
tmp
upload/*
!upload/.htaccess
!upload/file_proxy.php
uploads
plugins/ext/file_storage_modules/r2/vendor
assinatura/vendor
assinador-python/logs
assinador-python/temp
assinador-python/uploads
assinador-python/certs