APP_PORT=8081
SIGNER_PORT=5000
APP_BASE_URL=https://gea.infodocsisged.com.br
PYTHON_SERVICE_PUBLIC_URL=https://gea.infodocsisged.com.br/assinador

DB_SERVER=195.200.4.41
DB_SERVER_PORT=3306
DB_SERVER_USERNAME=admin
DB_SERVER_PASSWORD=8rekXBff
DB_DATABASE=sisged_gea

DB_HOST=195.200.4.41
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=8rekXBff
DB_NAME=sisged_gea

SIGNER_SECRET_KEY=rNPFfGosv2LPDXT52oBRv+dmhMpsalUIrJhz5uuAmOcCw+DB7QTlu/ZDQ9a5pTfv
TOKEN_EXPIRY=3600