IMAGE_TAG=1.0.14

APP_PORT=18081
SIGNER_PORT=15000
APP_BASE_URL=https://gea.infodocsisged.com.br
PYTHON_SERVICE_PUBLIC_URL=https://assinador.infodocsisged.com.br
PROXY_EXTERNAL_NETWORK=proxy_net
 
DB_SERVER=195.200.4.41
DB_SERVER_PORT=3306
DB_SERVER_USERNAME=admin
DB_SERVER_PASSWORD=8rekXBff
DB_DATABASE=sisged_gea

DB_HOST=195.200.4.41
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=8rekXBff
DB_NAME=sisged_gea

SIGNER_SECRET_KEY=LuM0lUZ/Sz9fODN3rXNEbRZiC6Itk+rBp6R3z3s+z6g=
TOKEN_EXPIRY=3600

# Cloudflare R2 / S3 compativel
FILE_STORAGE_R2_ENDPOINT=https://6fdc099e1b64589559c93618fdec06f9.r2.cloudflarestorage.com
FILE_STORAGE_R2_REGION=auto
FILE_STORAGE_R2_BUCKET=gea
FILE_STORAGE_R2_ACCESS_KEY_ID=e4ba0c9525ea7e8eb81d2efa42cb7a4b
FILE_STORAGE_R2_SECRET_ACCESS_KEY=a8f1ae3c8fba5a41bbff7fa8fac86af429869749092af80adff7904013032b67
FILE_STORAGE_R2_OBJECT_PREFIX=ged
FILE_STORAGE_CRON_INTERVAL=60

# Se publicar o assinador por rota explicita no mesmo dominio do GED,
# troque a linha abaixo por:
# PYTHON_SERVICE_PUBLIC_URL=https://gea.seu-dominio.com.br/assinador