# PHP / WAMP
/vendor/
/node_modules/
/composer.lock
/.env
/.vscode/
/.idea/
/nbproject/
/logs/
/tmp/
*.log
.docker-*.out
/.env.production.portainer
/assinatura/uploads/
/assinador-python/pytest_out.txt
/assinador-python/unittest*.txt
/plugins/ext/file_storage_modules/r2/vendor/
*.out
Thumbs.db
.DS_Store
